

savedResults**
WorksSeeds**
__pycache__**
dask-**
OldCode**
saved_model**
SavedFeatures**
SavedAnova**¨
SavedBaseLineFeatures**
SavedAnovaMask**
temp**
processOutputs**
oldBas**
newconcatBaselineFeatures**
newhstackBaselineFeatures**
newnewBaselineFeatures**
newtestingHstackBaselineFeatures**
workingBaseLine**
normal**
potholes**
WorkingBaseLineFeatures**
WorkingBaselineFeaturesNew**
SavedResults**

eeg-imagined-speech-nieto/derivatives/sub-01/ses-01/sub-01_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-01/sub-01_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-01/sub-01_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-01/ses-01/sub-01_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-01/sub-01_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-01/ses-02/sub-01_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-02/sub-01_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-02/sub-01_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-01/ses-02/sub-01_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-02/sub-01_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-01/ses-03/sub-01_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-03/sub-01_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-03/sub-01_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-01/ses-03/sub-01_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-01/ses-03/sub-01_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-02/ses-01/sub-02_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-01/sub-02_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-01/sub-02_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-02/ses-01/sub-02_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-01/sub-02_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-02/ses-02/sub-02_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-02/sub-02_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-02/sub-02_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-02/ses-02/sub-02_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-02/sub-02_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-02/ses-03/sub-02_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-03/sub-02_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-03/sub-02_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-02/ses-03/sub-02_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-02/ses-03/sub-02_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-03/ses-01/sub-03_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-01/sub-03_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-01/sub-03_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-03/ses-01/sub-03_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-01/sub-03_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-03/ses-02/sub-03_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-02/sub-03_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-02/sub-03_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-03/ses-02/sub-03_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-02/sub-03_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-03/ses-03/sub-03_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-03/sub-03_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-03/sub-03_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-03/ses-03/sub-03_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-03/ses-03/sub-03_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-04/ses-01/sub-04_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-01/sub-04_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-01/sub-04_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-04/ses-01/sub-04_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-01/sub-04_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-04/ses-02/sub-04_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-02/sub-04_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-02/sub-04_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-04/ses-02/sub-04_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-02/sub-04_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-04/ses-03/sub-04_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-03/sub-04_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-03/sub-04_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-04/ses-03/sub-04_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-04/ses-03/sub-04_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-05/ses-01/sub-05_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-01/sub-05_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-01/sub-05_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-05/ses-01/sub-05_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-01/sub-05_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-05/ses-02/sub-05_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-02/sub-05_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-02/sub-05_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-05/ses-02/sub-05_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-02/sub-05_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-05/ses-03/sub-05_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-03/sub-05_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-03/sub-05_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-05/ses-03/sub-05_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-05/ses-03/sub-05_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-06/ses-01/sub-06_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-01/sub-06_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-01/sub-06_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-06/ses-01/sub-06_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-01/sub-06_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-06/ses-02/sub-06_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-02/sub-06_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-02/sub-06_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-06/ses-02/sub-06_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-02/sub-06_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-06/ses-03/sub-06_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-03/sub-06_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-03/sub-06_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-06/ses-03/sub-06_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-06/ses-03/sub-06_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-07/ses-01/sub-07_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-01/sub-07_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-01/sub-07_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-07/ses-01/sub-07_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-01/sub-07_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-07/ses-02/sub-07_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-02/sub-07_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-02/sub-07_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-07/ses-02/sub-07_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-02/sub-07_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-07/ses-03/sub-07_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-03/sub-07_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-03/sub-07_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-07/ses-03/sub-07_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-07/ses-03/sub-07_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-08/ses-01/sub-08_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-01/sub-08_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-01/sub-08_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-08/ses-01/sub-08_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-01/sub-08_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-08/ses-02/sub-08_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-02/sub-08_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-02/sub-08_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-08/ses-02/sub-08_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-02/sub-08_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-08/ses-03/sub-08_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-03/sub-08_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-03/sub-08_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-08/ses-03/sub-08_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-08/ses-03/sub-08_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-09/ses-01/sub-09_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-01/sub-09_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-01/sub-09_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-09/ses-01/sub-09_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-01/sub-09_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-09/ses-02/sub-09_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-02/sub-09_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-02/sub-09_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-09/ses-02/sub-09_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-02/sub-09_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-09/ses-03/sub-09_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-03/sub-09_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-03/sub-09_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-09/ses-03/sub-09_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-09/ses-03/sub-09_ses-03_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-10/ses-01/sub-10_ses-01_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-01/sub-10_ses-01_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-01/sub-10_ses-01_events.dat
eeg-imagined-speech-nieto/derivatives/sub-10/ses-01/sub-10_ses-01_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-01/sub-10_ses-01_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-10/ses-02/sub-10_ses-02_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-02/sub-10_ses-02_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-02/sub-10_ses-02_events.dat
eeg-imagined-speech-nieto/derivatives/sub-10/ses-02/sub-10_ses-02_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-02/sub-10_ses-02_report.pkl
eeg-imagined-speech-nieto/derivatives/sub-10/ses-03/sub-10_ses-03_baseline-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-03/sub-10_ses-03_eeg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-03/sub-10_ses-03_events.dat
eeg-imagined-speech-nieto/derivatives/sub-10/ses-03/sub-10_ses-03_exg-epo.fif
eeg-imagined-speech-nieto/derivatives/sub-10/ses-03/sub-10_ses-03_report.pkl
eeg-imagined-speech-nieto/sub-01/ses-01/eeg/sub-01_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-01/ses-02/eeg/sub-01_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-01/ses-03/eeg/sub-01_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-02/ses-01/eeg/sub-02_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-02/ses-02/eeg/sub-02_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-02/ses-03/eeg/sub-02_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-03/ses-01/eeg/sub-03_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-03/ses-02/eeg/sub-03_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-03/ses-03/eeg/sub-03_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-04/ses-01/eeg/sub-04_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-04/ses-02/eeg/sub-04_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-04/ses-03/eeg/sub-04_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-05/ses-01/eeg/sub-05_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-05/ses-02/eeg/sub-05_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-05/ses-03/eeg/sub-05_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-06/ses-01/eeg/sub-06_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-06/ses-02/eeg/sub-06_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-06/ses-03/eeg/sub-06_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-07/ses-01/eeg/sub-07_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-07/ses-02/eeg/sub-07_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-07/ses-03/eeg/sub-07_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-08/ses-01/eeg/sub-08_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-08/ses-02/eeg/sub-08_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-08/ses-03/eeg/sub-08_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-09/ses-01/eeg/sub-09_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-09/ses-02/eeg/sub-09_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-09/ses-03/eeg/sub-09_ses-03_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-10/ses-01/eeg/sub-10_ses-01_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-10/ses-02/eeg/sub-10_ses-02_task-innerspeech_eeg.bdf
eeg-imagined-speech-nieto/sub-10/ses-03/eeg/sub-10_ses-03_task-innerspeech_eeg.bdf
logs/train/events.out.tfevents.1663314396.DESKTOP-PBNO7JR.17132.0.v2
logs/train/events.out.tfevents.1663315037.DESKTOP-PBNO7JR.17132.1.v2
logs/train/events.out.tfevents.1663315276.DESKTOP-PBNO7JR.17132.2.v2
logs/train/events.out.tfevents.1663315338.DESKTOP-PBNO7JR.17132.3.v2
logs/train/events.out.tfevents.1663315416.DESKTOP-PBNO7JR.17132.4.v2
logs/train/events.out.tfevents.1663315568.DESKTOP-PBNO7JR.17132.5.v2
logs/train/events.out.tfevents.1663315689.DESKTOP-PBNO7JR.17132.6.v2
logs/train/events.out.tfevents.1663315788.DESKTOP-PBNO7JR.17132.7.v2
logs/train/events.out.tfevents.1663315810.DESKTOP-PBNO7JR.17132.8.v2
logs/train/events.out.tfevents.1663315916.DESKTOP-PBNO7JR.27240.0.v2
logs/train/events.out.tfevents.1663316383.DESKTOP-PBNO7JR.27240.1.v2
logs/train/events.out.tfevents.1663316609.DESKTOP-PBNO7JR.27240.2.v2
logs/train/events.out.tfevents.1663316706.DESKTOP-PBNO7JR.27240.3.v2
accModel.png
__pycache__/dataLoader.cpython-38.pyc
__pycache__/dataLoader.cpython-39.pyc
__pycache__/util.cpython-38.pyc
eeg-imagined-speech-nieto/dataset_description.json
FromWork/runFile.ipynb
FromWork/util.py
saved_model/best_model/keras_metadata.pb
saved_model/best_model/saved_model.pb
saved_model/best_model/variables/variables.data-00000-of-00001
saved_model/best_model/variables/variables.index
saved_model/my_model0568/keras_metadata.pb
saved_model/my_model0568/saved_model.pb
saved_model/my_model0568/variables/variables.data-00000-of-00001
saved_model/my_model0568/variables/variables.index
saved_model/my_model1/keras_metadata.pb
saved_model/my_model1/saved_model.pb
saved_model/my_model1/variables/variables.data-00000-of-00001
saved_model/my_model1/variables/variables.index
saved_model/my_model4/keras_metadata.pb
saved_model/my_model4/saved_model.pb
saved_model/my_model4/variables/variables.data-00000-of-00001
saved_model/my_model4/variables/variables.index
saved_model/my_model5/keras_metadata.pb
saved_model/my_model5/saved_model.pb
saved_model/my_model5/variables/variables.data-00000-of-00001
saved_model/my_model5/variables/variables.index
saved_model/my_model6/keras_metadata.pb
saved_model/my_model6/saved_model.pb
saved_model/my_model6/variables/variables.data-00000-of-00001
saved_model/my_model6/variables/variables.index
saved_model/my_model60percent/keras_metadata.pb
saved_model/my_model60percent/saved_model.pb
saved_model/my_model60percent/variables/variables.data-00000-of-00001
saved_model/my_model60percent/variables/variables.index
saved_model/my_model7/keras_metadata.pb
saved_model/my_model7/saved_model.pb
saved_model/my_model7/variables/variables.data-00000-of-00001
saved_model/my_model7/variables/variables.index
saved_model/my_model8/keras_metadata.pb
saved_model/my_model8/saved_model.pb
saved_model/my_model8/variables/variables.data-00000-of-00001
saved_model/my_model8/variables/variables.index
saved_model/my_modelgood/keras_metadata.pb
saved_model/my_modelgood/saved_model.pb
saved_model/my_modelgood/variables/variables.data-00000-of-00001
saved_model/my_modelgood/variables/variables.index
saved_model/my_modelgood2/keras_metadata.pb
saved_model/my_modelgood2/saved_model.pb
saved_model/my_modelgood2/variables/variables.data-00000-of-00001
saved_model/my_modelgood2/variables/variables.index
saved_model/my_modelgood4/keras_metadata.pb
saved_model/my_modelgood4/saved_model.pb
saved_model/my_modelgood4/variables/variables.data-00000-of-00001
saved_model/my_modelgood4/variables/variables.index
makeTables.ipynb
normal/1.jpg
WorkingBaselineFeaturesNew/sub-1-par-split1/anglefftData.npy
__pycache__/dataLoader.cpython-38.pyc
eeg-imagined-speech-nieto/CHANGES
eeg-imagined-speech-nieto/dataset_description.json
eeg-imagined-speech-nieto/README
.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.devcontainer/noop.txt
.ipynb_checkpoints/makeTables-jvsc-d0677a98-7a07-4eaa-9660-1ba1a21a0643930d8471-169f-408c-83e7-265a6034d404-checkpoint.ipynb
.vscode/launch.json
__pycache__/dataLoader.cpython-38.pyc
eeg-imagined-speech-nieto/CHANGES
eeg-imagined-speech-nieto/dataset_description.json
eeg-imagined-speech-nieto/README
testStats.txt
.vscode/launch.json
__pycache__/dataLoader.cpython-38.pyc
eeg-imagined-speech-nieto/CHANGES
eeg-imagined-speech-nieto/dataset_description.json
eeg-imagined-speech-nieto/README
